{% extends 'base.html' %}

{% block content %}
    <style type="text/css">
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid grey;
            margin: 30px;
            padding: 50px;
        }
        form > * {
            margin: 10px;
        }
    </style>
	 <form action="{% url 'edit_profile' %}" method="POST">
        {{ error }}
        {% csrf_token %}
        <div>
            <label for="firstname">First Name: </label>
            {{request.user.first_name}} <br>
        </div>
        <div>
            <label for="lastname">Last Name: </label>
            {{request.user.last_name}} <br>
        </div>
        <div>
            <label for="course">Course: </label>
            {{form.course}} <br>
        </div>
        <div>
            <label for="studnum">Student No.: </label>
            {{form.studnum}} <br>
        </div>

        <div>
            <label for="status">Status: </label>
            {{form.status}} <br>
        </div>

        <div>
            <label for="yrlevel">Year Level: </label>
            {{form.yrlevel}} <br>
        </div>
        <button>Submit</button>
    </form>
{% endblock %}