{% extends 'base.html' %}
{% load static%}
{% block styles %}
<style>
.jumbotron {
    text-align: center;
}
</style>
{% endblock %}

{% block jumbotron %}
{% if not request.user.is_authenticated %}
<div class = "jumbotron">
    <h1>QueUP</h1>
    <p>A convenient queueing app of the future!!</p>
</div>
{% endif %}
{% endblock %}

{% block content %}
	<img src = "{% static 'img/line.png'%}" class = ".img-responsive"/><br>
	{% if request.user.is_authenticated %}

	{% if window1top.user.username == request.user.username %}
		<div class = "row">
			<div class = 'col-md-2'>
				<h3 style="color:red">Your next in Window 1</h3>
			</div>
		</div>
	{% endif %}
	{% if window2top.user.username == request.user.username %}
		<div class = "row">
			<div class = 'col-md-2'>
				<h3 style="color:red">Your next in Window 2</h3>
			</div>
		</div>
	{% endif %}
	{% if window3top.user.username == request.user.username %}
		<div class = "row">
			<div class = 'col-md-2'>
				<h3 style="color:red">Your next in Window 3</h3>
			</div>
		</div>
	{% endif %}
	{% if window4top.user.username == request.user.username %}
		<div class = "row">
			<div class = 'col-md-2'>
				<h3 style="color:red">Your next in Window 4</h3>
			</div>
		</div>
	{% endif %}
	{% if window5top.user.username == request.user.username %}
		<div class = "row">
			<div class = 'col-md-2'>
				<h3 style="color:red">Your next in Window 5</h3>
			</div>
		</div>
	{% endif %}

	<div class = "row">
		<div class="col-md-2">
			<h3>Window1</h3>
			{% for queue in window1queues %}
				<div class="item">
					<p>{{ queue.user.get_full_name }}</p>
				</div>
			{% endfor %}
			{% if request.user.is_authenticated %}
				<!-- for enqueue -->
				<form class="formbtn" action="{% url 'window1enqueue' %}" method="POST">
					{% csrf_token %}
					<button class="btn btn-info">enq</button>
				</form>
				<!-- for dequeue -->
				<form class="formbtn" action="{% url 'window1dequeue' %}" method="POST">
					{% csrf_token %}
					<button class="btn btn-info">deq</button>
				</form>
				<!-- for superuser -->
				{% if request.user.is_superuser %}
				<form class="formbtn" action="{% url 'window1pop' %}" method="POST">
					{% csrf_token %}
					<button class="poptop">Pop Top</button>
				</form>
				{% endif %}
			{% endif %}
		</div>

		<div class="col-md-2">
			<h3>Window2</h3>
			{% for queue in window2queues %}
				<div class="item">
					<p>{{ queue.user.get_full_name }}</p>
				</div>
			{% endfor %}
			{% if request.user.is_authenticated %}
				<!-- for enqueue -->
				<form class="formbtn" action="{% url 'window2enqueue' %}" method="POST">
					{% csrf_token %}
					<button class="btn btn-info">enq</button>
				</form>
				<!-- for dequeue -->
				<form class="formbtn" action="{% url 'window2dequeue' %}" method="POST">
					{% csrf_token %}
					<button class="btn btn-info">deq</button>
				</form>
				<!-- for superuser -->
				{% if request.user.is_superuser %}
				<form class="formbtn" action="{% url 'window2pop' %}" method="POST">
					{% csrf_token %}
					<button class="poptop">Pop Top</button>
				</form>
			{% endif %}
		{% endif %}
		</div>

		<div class = "col-md-2">
			<h3>Window3</h3>
			{% for queue in window3queues %}
				<div class="item">
					<p>{{ queue.user.get_full_name }}</p>
				</div>
			{% endfor %}
			{% if request.user.is_authenticated %}
				<!-- for enqueue -->
				<form class="formbtn" action="{% url 'window3enqueue' %}" method="POST">
					{% csrf_token %}
					<button class="btn btn-info">enq</button>
				</form>
				<!-- for dequeue -->
				<form class="formbtn" action="{% url 'window3dequeue' %}" method="POST">
					{% csrf_token %}
					<button class="btn btn-info">deq</button>
				</form>
				<!-- for superuser -->
				{% if request.user.is_superuser %}
				<form class="formbtn" action="{% url 'window3pop' %}" method="POST">
					{% csrf_token %}
					<button class="poptop">Pop Top</button>
				</form>
			{% endif %}
		{% endif %}
		</div>

		<div class = "col-md-2">
			<h3>Window4</h3>
			{% for queue in window4queues %}
				<div class="item">
					<p>{{ queue.user.get_full_name }}</p>
				</div>
			{% endfor %}
			{% if request.user.is_authenticated %}
				<!-- for enqueue -->
				<form class="formbtn" action="{% url 'window4enqueue' %}" method="POST">
					{% csrf_token %}
					<button class="btn btn-info">enq</button>
				</form>
				<!-- for dequeue -->
				<form class="formbtn" action="{% url 'window4dequeue' %}" method="POST">
					{% csrf_token %}
					<button class="btn btn-info">deq</button>
				</form>
				<!-- for superuser -->
				{% if request.user.is_superuser %}
				<form class="formbtn" action="{% url 'window4pop' %}" method="POST">
					{% csrf_token %}
					<button class="poptop">Pop Top</button>
				</form>
			{% endif %}
		{% endif %}
		</div>

		<div class = "col-md-2">
			<h3>Window5</h3>
			{% for queue in window5queues %}
				<div class="item">
					<p>{{ queue.user.get_full_name }}</p>
				</div>
			{% endfor %}
			{% if request.user.is_authenticated %}
				<!-- for enqueue -->
				<form class="formbtn" action="{% url 'window5enqueue' %}" method="POST">
					{% csrf_token %}
					<button class="btn btn-info">enq</button>
				</form>
				<!-- for dequeue -->
				<form class="formbtn" action="{% url 'window5dequeue' %}" method="POST">
					{% csrf_token %}
					<button class="btn btn-info">deq</button>
				</form>
				<!-- for superuser -->
				{% if request.user.is_superuser %}
				<form class="formbtn" action="{% url 'window5pop' %}" method="POST">
					{% csrf_token %}
					<button class="poptop">Pop Top</button>
				</form>
			{% endif %}
		{% endif %}
		</div>
	</div>
	{% endif %}
{% endblock %}